.container {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  font-size: 18px;
}

.title {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  position: absolute;
  top: 8%;
  cursor: default;
  h1,
  h2 {
    font-size: 2em;
    position: relative;
    font-family: "Courgette", cursive;
    color: transparent;
    padding: 0 1rem;
    background: linear-gradient(180deg, $primary 50%, $light 100%);
    background-clip: text;
    transition-duration: 250ms;
  }
  h1 {
    background: linear-gradient(0deg, $primary 50%, $light 100%);
    background-clip: text;
  }
  span {
    position: relative;
    margin-top: 7px;
    min-height: 3px;
    min-width: 120%;
    background: $light;
    border-radius: 30%;
    box-shadow: 0 0 5px $dark, 0 0 10px $white, 0 0 15px $dark, 0 0 20px $white,
      0 0 25px $dark;
    transition-duration: 250ms;
  }
}

.title:hover {
  span {
    box-shadow: 0 0 5px $dark, 0 0 10px $white, 0 0 15px $dark, 0 0 20px $white,
      0 0 25px $dark, 0 0 45px $white, 0 0 55px $white, 0 0 65px $white,
      0 0 75px $white, 0 0 85px $white;
  }
  h2 {
    background: linear-gradient(180deg, $primary 20%, $light 100%);
    background-clip: text;
  }
  h1 {
    background: linear-gradient(0deg, $primary 20%, $light 100%);
    background-clip: text;
  }
}

@media screen and (min-width: 400px) {
  .container {
    font-size: 24px;
  }
}
@media screen and (min-width: 600px) {
  .container {
    font-size: 30px;
  }
}
@media screen and (min-width: 800px) {
  .container {
    font-size: 32px;
  }
}
@media screen and (min-width: 1000px) {
  .container {
    font-size: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    font-size: 36px;
  }
}
@media screen and (min-width: 1500px) {
  .container {
    font-size: 40px;
  }
}
