.container {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 70px;
  min-height: calc(100vh - 70px);
  font-size: 16px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 5em;
  h1,
  h2 {
    font-size: 2em;
    color: $primary;
  }
  span {
    margin-top: 7px;
    min-height: 3px;
    min-width: 120%;
    background: $white;
    border-radius: 20%;
  }
}

.torchBox {
  position: absolute;
  // bottom: 20%;
}

.torch1 {
  left: 5%;
}

.torch2 {
  right: 5%;
}

@media screen and (min-width: 400px) {
  .container {
    font-size: 18px;
  }
}
@media screen and (min-width: 600px) {
  .container {
    font-size: 20px;
  }
}
@media screen and (min-width: 800px) {
  .container {
    font-size: 24px;
  }
}
@media screen and (min-width: 1000px) {
  .container {
    font-size: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    font-size: 34px;
  }
}
