.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $black;
  padding: 1rem;
  border-bottom: 1px solid $primary;
  z-index: 100;
  max-width: 1300px;
  font-size: 1.25rem;
}

.title {
  cursor: pointer;
  color: $white;
  transition-duration: 350ms;
  width: fit-content;
  span {
    color: $primary;
    transition-duration: 350ms;
  }
}

.title:hover {
  color: $primary;
  span {
    color: $white;
  }
}

.nav {
  width: 100%;
  color: $white;
  // display: none;
}

.navList {
  display: none;
  flex-direction: column;
  list-style: none;
  width: 100%;
  padding-top: 1rem;
  li {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
    transition-duration: 250ms;
  }
  li:hover {
    background: $primary;
  }
}

.open {
  display: flex;
}

.hamburger {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 2.5px;
  width: 30px;
  height: 20px;
  right: 1rem;
  top: calc(64.2px / 2 - 11.25px);
  cursor: pointer;
  transition-duration: 250ms;
}

.hamburger:hover {
  .line {
    background: $primary;
    box-shadow: 0 0 5px $primary, 0 0 10px $secondary, 0 0 15px $primary;
  }
}

.line {
  min-height: 2px;
  min-width: 100%;
  background: $white;
  position: absolute;
  left: 0;
  right: 0;
  transition-duration: 250ms;
}

.top {
  top: 0;
}

.mid {
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
}

.bot {
  bottom: 0;
}

@media screen and (min-width: 600px) {
  .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .nav {
    width: auto;
  }
  .navList {
    padding: 0;
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 1rem;
    li {
      width: auto;
      padding: 0;
    }
    li:hover {
      background: none;
      color: $primary;
    }
  }
  .hamburger {
    display: none;
  }
}
