.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $dark;
  position: relative;
  align-items: center;
  padding: 1rem 0;
  h2 {
    font-size: 3rem;
    text-shadow: 4px 4px 4px $main;
    margin: 2.5rem;
    font-family: "Nothing You Could Do", cursive;
  }
}

.blur {
  width: 100%;
  height: 5%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, $black, transparent);
}

.wrapper {
  display: flex;
  width: 85%;
  max-width: 1200px;
  height: 100%;
  justify-content: space-between;
  gap: 1rem;
}

.box {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 40%;
  justify-content: center;
  align-items: center;
}

.inner_container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  h4 {
    font-size: 2rem;
  }
  p {
    font-size: 1.5rem;
  }
  a {
    transition-duration: 0.4s;
  }
  a:hover {
    color: $main;
  }
}

.box:last-child {
  flex-grow: 1;
}

.icon_box {
  display: flex;
  gap: 1rem;
  width: fit-content;
}

.icon_wrapper {
  width: 80px;
  background-color: $light;
  transition-duration: 0.4s;
  border-radius: 5px;
  cursor: pointer;
  a {
    display: flex;
    align-items: center;
  }
}

.icon_wrapper:hover {
  background-color: $main;
}

@media screen and (max-width: 1000px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .box {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .inner_container {
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    width: 95%;
  }
}
