.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: $main;
  padding: 1rem;
  gap: 1rem;
  border-radius: 8px;
}

.form_box {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 5px;
}

.form_label {
  font-size: 1rem;
  font-weight: 500;
  color: $black;
}

.form_input {
  min-height: 1.5rem;
  border-radius: 8px;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  background-color: $black;
  color: $white;
}

.form_btn {
  padding: 0.5rem 1.5rem;
  width: 35%;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  background-color: $light;
  font-weight: 600;
  transition-duration: 0.5s;
}

.form_btn:hover {
  background-color: $black;
  color: $main;
}
