.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  margin: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 0;
  p {
    font-size: 4rem;
    font-weight: 600;
    margin: 0;
    text-shadow: 4px 4px 4px $primary;
  }
  p:first-child {
    font-size: 5rem;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    p:last-child {
      font-size: 3rem;
      text-align: center;
    }
  }
}
