.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  height: 100vh;
  background-color: $black;
  overflow: hidden;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  max-width: 1400px;
  height: 100%;
  position: relative;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
  span {
    color: $main;
  }
}

.box.left {
  position: absolute;
  left: 0;
  z-index: 10;
  h1 {
    border-radius: 5px;
    padding: 0 5px;
    margin: 0;
    width: fit-content;
    position: relative;
    font-family: "Nothing You Could Do", cursive;
  }
}

.box.right {
  opacity: 0.75;
  animation: fade-in 3s;
  position: absolute;
  right: 0;
  top: 0;
  width: 400px;
}

.img_container {
  margin-top: 15px;
  display: flex;
  height: 80%;
  width: 100%;
  position: relative;
}

.blur {
  width: 120%;
  height: 15%;
  background: linear-gradient(0deg, $black 60%, transparent);
  position: absolute;
  bottom: 0;
  left: -10%;
  z-index: 5;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}

@media screen and (max-width: 900px) {
  .box.left {
    margin-top: 100;
    h1 {
      top: 100px;
    }
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    width: 90%;
  }
  .box.left {
    height: 100%;
    width: 100%;
    font-size: 1rem;
  }
  .box.right {
    width: 100%;
  }
  .blur {
    height: 5%;
  }
}
