$primary: #6a9fc2;
$dark: #6a9fc266;

$black: #060611;
$white: #ededed;
$light: #dedede;
$dark-glass: #0c1c3060;

.sectionTitle {
  justify-self: flex-start;
  align-self: flex-start;
  padding: 1rem;
  font-size: 28px;
  text-decoration: underline;
  text-decoration-color: $primary;
  z-index: 2;
  font-family: "Patrick Hand", cursive;
  letter-spacing: 1px;
  font-weight: 500;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  max-width: 200px;
  color: $primary;
  padding: 0.5rem;
  background: $black;
  font-weight: 500;
  border: 1px solid $dark;
  animation-fill-mode: backwards;
  animation-direction: normal;
  animation-name: unfill;
  animation-duration: 200ms;
  animation-timing-function: linear;
  font-family: "Patrick Hand", cursive;
  letter-spacing: 1px;
}

.btn:hover {
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-name: fill;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
}

@media screen and (min-width: 500px) {
  .sectionTitle {
    font-size: 32px;
  }
}

@media screen and (min-width: 800px) {
  .sectionTitle {
    font-size: 36px;
  }
}

@keyframes fill {
  0% {
    background: radial-gradient(circle, $black 0%, $black 100%);
  }
  10% {
    background: radial-gradient(circle, $primary 0%, $black 10%);
    color: $black;
  }
  20% {
    background: radial-gradient(circle, $primary 0%, $black 20%);
    color: $black;
  }
  40% {
    background: radial-gradient(circle, $primary 0%, $black 40%);
    color: $black;
  }
  60% {
    background: radial-gradient(circle, $primary 0%, $black 60%);
    color: $black;
  }
  80% {
    background: radial-gradient(circle, $primary 0%, $black 80%);
    color: $black;
  }
  100% {
    background: radial-gradient(circle, $primary 0%, $primary 100%);
    color: $black;
  }
}

@keyframes unfill {
  0% {
    background: radial-gradient(circle, $primary 0%, $primary 100%);
    color: $black;
  }
  10% {
    background: radial-gradient(circle, $primary 0%, $black 90%);
    color: $black;
  }
  20% {
    background: radial-gradient(circle, $primary 0%, $black 80%);
    color: $black;
  }
  40% {
    background: radial-gradient(circle, $primary 0%, $black 60%);
    color: $black;
  }
  60% {
    background: radial-gradient(circle, $primary 0%, $black 40%);
    color: $black;
  }
  80% {
    background: radial-gradient(circle, $primary 0%, $black 20%);
    color: $primary;
  }
  100% {
    background: radial-gradient(circle, $black 0%, $black 100%);
    color: $primary;
  }
}
