// $primary: #2acfa2;
$primary: #4a9fc2;
// $primary: #22aa77;

$black: #060611;
$white: #ededed;
$light: #898989;
$dark: #2c4658;
$dark-glass: #0c1c3060;

.sectionTitle {
  justify-self: flex-start;
  align-self: flex-start;
  padding: 1rem;
  font-size: 24px;
  text-decoration: underline;
  text-decoration-color: $primary;
}

@media screen and (min-width: 500px) {
  .sectionTitle {
    font-size: 32px;
  }
}
